<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ title }}</title>
    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static',filename='css/bootstrap-combined.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/landing-page.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/toastr.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!--<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"-->
    <!--type="text/css">-->

    <style type="text/css">
        .highlight {
            background-color: #c5e044;
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="{{ url_for('static',filename='js/html5shiv.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/respond.min.js') }}"></script>
    <![endif]-->

</head>

<body>

<body>
<form method="post">

    <div class="row">
        <div class="col-xs-1 col-md-1"></div>
        <div class="col-xs-6 col-md-6">
            <div class="form-group">
                <div style="height: 10px"></div>
                <pre id="code" style="width:100%;height: 600px"></pre>
            </div>
        </div>
        <div class="col-xs-4 col-md-4">
            <div class="form-group">
                <div style="height: 10px"></div>
                <label for="status">状态:</label>
                <pre id="status"></pre>
                <label for="output">输出:</label>
                <pre id="output" style="height: 450px"></pre>
                <label for="version">版本:</label>
                <pre id="version"></pre>
            </div>
        </div>
        <div class="col-xs-1 col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-xs-1 col-md-1"></div>
        <div class="col-xs-11 col-md-11">
            <div class="form-group" id="running">
                <button type="button" id="run" class="btn btn-primary" onclick="sendpost();">运行</button>
            </div>
        </div>
    </div>
</form>


</body>


<!-- jQuery -->
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery.js') }}"></script>

<!-- Bootstrap Core JavaScript -->

<script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery-ui-1.10.2') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery.cookie.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/common.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap-transition.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/toastr.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap-paginator.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/ace.js') }}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        editor = ace.edit("code");
        editor.setTheme("ace/theme/tomorrow_night_blue");
        editor.session.setMode("ace/mode/python");
        editor.getSession().setUseWrapMode(true);      //设置代码折叠
        editor.setHighlightActiveLine(true);   // 设置高亮

        document.getElementById('code').style.fontSize = '16px';
    });
</script>

</body>

</html>